WAKATIME_API_KEY=your_wakatime_api_key_here
PUBLIC_API_URL=https://my-data.itsmail.dev/api

# AI Chat Widget
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=openai/gpt-oss-20b:free
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
TELEGRAM_CHAT_THREAD_ID=your_telegram_topic_thread_id_here

# Git Activity Heatmap
GITHUB_TOKEN=your_github_personal_access_token
GITHUB_USERNAME=itzmail
GITLAB_TOKEN=your_gitlab_personal_access_token
GITLAB_USERNAME=itsmail
